/* game board table */

#board td {
  width: 50px;
  height: 50px;
  background: black;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  background: lightgray;
}

#column-top td:hover {
  background-color: lightgray;
  border-radius: 50%;
}

/* creates animation for piece drop */
@keyframes drop {
  from {
    transform: translateY(-600%);
  }
  to {
    transform: translateY(50);
  }
}

/* pieces are div within game table cells: draw as colored circles */
.piece {
  position: absolute;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: drop 0.8s ease;
  transform-origin: center top;
  transform: translate(-5px, -30px);
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: blue;
}

.p1.piece {
  animation-delay: 0s;
}


.p2.piece {
  animation-delay: 0s; 
}


